<p-dataTable #p [value]="cars" [responsive]="true" selectionMode="single" [(selection)]="selectedCar"  (onRowSelect)="onRowSelect($event)"  scrollable="true" scrollHeight="281px" [paginator]="true" [rows]="10"[headerCheckboxToggleAllPages]="true" [rowsPerPageOptions]="[10,20,30,40,50]"  >
     <p-header>
        <div style="text-align:left">
            <p-multiSelect [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
        </div>
    </p-header>
	
	<p-column [style]="{'width':'40px'}" selectionMode="single"></p-column>
	
	<p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="true" [filter]="true" filterPlaceholder="Search" ></p-column>
	
    <p-footer>
		<div class="ui-helper-clearfix" style="width:100%">
			<button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
			<button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="p.exportCSV()" style="float:left"></button>
		</div>
	</p-footer>
	
</p-dataTable>


<h1>CASELOSS</h1>


<p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" >
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="car">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="pkid">pkid</label></div>
            <div class="ui-grid-col-8"><input pInputText id="pkid" [(ngModel)]="car.pkid" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="lostorder">lostorder</label></div>
            <div class="ui-grid-col-8"><input pInputText id="lostorder" [(ngModel)]="car.lostorder"/></div>
        </div>
        
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>