<h3 class="first">Old Password</h3>
<input  (keyup)="keyupHandler1($event)"  type="password"/>
<h3 class="first">New Password</h3>
<input (keyup)="keyupHandler2($event)" type="password" pPassword [(ngModel)]="property"/>
<h3 class="first">Confirm new password</h3>
<input (keyup)="keyupHandler3($event)" type="password" pPassword />
<p> </p>
<button pButton type="button" (click)="onclick()" label="ok"></button>

<!--
<div>


    {{clickMessage}}
    <input (keyup)="keyupHandler1($event)" type="text">

    输入框中的值为: {{input1}}
    <input #box (keyup)="onKey(box.value)" [(ngModel)]="car.password">
     <p> {{this.pass}}</p>
     <p>123</p>
    
   
</div>
-->

